.header {
    padding-top: 35px;
    padding-bottom: 25px;
    &__inner {
        @include flex(space-between, center);
        flex-direction: row;
    }

    &__logo {
    }

    &__img {
    }

    &__list {
    }

    &__items {
        display: flex;
        flex-direction: row;
    }

    &__item {
    }

    &__item + &__item {
        padding-left: 23px;
    }

    &__link {
    }
    &__btn-search {
        background: transparent;
    }
}
.menu {
    & #checkbox_toggle {
        display: none;
    }

    & .burger_menu {
        background-color: $dark;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
        &::before, &::after {
            background-color: $dark;
            content: "";
            display: block;
            position: absolute;
            transition: all .3s;
            width: 100%;
            height: 100%;
        }
        &::before {
            top: 7px;
        }
        &::after {
            top: -7px;
        }
    }
    &__items {
        display: flex;
        flex-direction: row;
    }

    &__item {
    }

    &__item + &__item {
        padding-left: 65px;
    }

    &__link {
        color: $dark;
        padding-bottom: 3px;
        &:hover {
            border-bottom: 2px solid $dark;
        }
    }
}
.fav {
    position: relative;
    &__num {
        width: 14px;
        height: 14px;
        text-align: center;
        line-height: 9px;
        background-color: $lightpink;
        top: 0;
        color: $dark;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        right: -8px;
    }
}
.burger {
    display: none;
    color: $dark;
    cursor: pointer;
}

@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .menu__items {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        background-color: $lightpink;
        margin-top: 20px;
    }
    .burger {
        display: block;
        padding: 20px 0;
    }
    #checkbox_toggle:checked ~ .menu__items {
        display: block;
        max-height: 100%;
        transition: all 0.5s;
        z-index: 5;
    }
    #checkbox_toggle:checked ~ .burger .burger_menu {
        background-color: transparent;
    }
    #checkbox_toggle:checked ~ .burger .burger_menu::before {
        transform: rotate(-45deg);
        top: 0;
    }
    #checkbox_toggle:checked ~ .burger .burger_menu::after {
        transform: rotate(45deg);
        top: 0;
    }

    .menu__items li a {
        display: block;
        padding: 15px;
    }
    .menu__items li {
        transition: all 0.3s;
    }
    .menu__item + .menu__item {
        padding-left: 0;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .container {
        width: 100%;
    }

}