.products {
    padding-top: 55px;
    padding-bottom: 86px;
    &__inner {
    }

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
    }
    &__button {
        display: block;
        text-align: right;
    }
    &-btn{
        background: transparent;
        padding-bottom: 12px;
        border-bottom: 1px solid $gray;
        margin-bottom: 30px;
        transition: 0.4s;
        &::value {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    &__cards {
        @include flex(space-between, center);
    }

    &__card {

        &-name {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
        }
        &-cost {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            position: relative;
            &::before {
                content: url("../images/ruble.svg");
                position: absolute;
                height: 4px;
                width: 5px;
                top: 2px;
                bottom: 0;
                left: 48px;
            }
        }
    }

    &__card-image {
        border-radius: 50%;
        box-shadow: (2px 2px 10px rgba(85, 82, 72, 0.23));
        margin-bottom: 25px;
    }

    &__card-details {
        position: relative;
        left: 40px;
        color: $dark;
        margin-bottom: 40px;
        &::before {
            content: "";
            position: absolute;
            background-color: $brown;
            width: 30px;
            height: 1px;
            bottom: 0;
            top: 50%;
            left: -40px;
        }
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .products {
        &__title {
            margin-bottom: 20px;
        }
        &__card {
            margin-bottom: 30px;
        }
   }
}

@media (max-width: 768px) {
    .products {
        &__title {
            margin-bottom: 20px;
        }
        &__card {
            margin-bottom: 20px;
        }
   }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
   .products {
        &__title {
            margin-bottom: 20px;
        }
        &__cards {
            justify-content: space-around;
        }
        &__card {
            &-image {
                text-align: center;
            }
        }
   }
}